
body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, #4c6c81, #083263);
  
} 

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #11111128 ;
  overflow-x: hidden;
  padding-top: 20px;
  margin: 8x
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sensores{
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
  font-weight:bold;
  font-size: small;
  text-align: center;
  transition: 5s;
 

}
.sensor{
  background-color: #ffffffee;
  height: 450px;
  width:  450px;
  border-radius: 20px;
 

}
 

.logs_text{
  margin: 20px  20px  0 20px;
  display: flex;
  column-gap: 35%;
}

.logs{
  display: flex;
  margin: 0px  20px  0 20px;
  column-gap: 37%;
 
}
