body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right, #57a5da, #37afd3);
  width: 100%;
  overflow: hidden;
  font-weight: lighter;
  margin: 0px;
  padding: 1px;
}

.material-symbols-outlined {
  font-size: 32px;
}

.sidenav {
  display: flex;
  height: 105%;
  width: 230px;
  z-index: 1;
  position: fixed;
  left: 0;
  background-color: #ffffffdc;
  overflow: hidden;
  padding-top: 10px;
  margin: 0;
  border-radius: 5px;
  transition: all 1s;
}
.logo img {
  position: absolute;
  height: 50px;
  width: 55px;
  bottom: 50em;
  margin-left: 5px;
  border-radius: 10%;
}

.sidenav span {
  margin-left: 10px;
  margin-right: 20px;
}

.sidenav a {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: #444444;
  padding: 0;
  border-radius: 8%;
  width: 200px;
  left: 8px;
}
.sidenav ul {
  margin-top: 16em;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  row-gap: 4.1%;
  width: 100%;
}
.sidenav a:hover {
  color: #adadad;
  background-color: #494949;
}

.main {
  position: absolute;
  height: 100%;
  margin-top: 20px;
  margin-left: 270px;
  margin-right: 0;
  display: flex;
  column-gap: 55px;
  flex-wrap: wrap;
  row-gap: 55px;
  transition: all 1s;
}

.sensores {
  position: fixed;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
  font-weight: bold;
  font-size: small;
  transition: all 1s;
  scroll-snap-type: s;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  
}

.sensor {
  display: flex;
  position: relative;
  background-color: transparent;
  height: 200px;
  width: 105em;
  border-radius: 20px;
  border-style: groove;
  border-color: white;
  transition: all 1s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.sensor h2 {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  left: 2%;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 0;
  height: 50px;
  font-size: 50px;
  font-weight: lighter;
}
.sensor h3 {
  position: relative;
  color: white;
  left: 2%;
}

.sensor h1 {
  display: flex;
  position: relative;
  top: 40px;
  right: 130px;
  color: white;
  font-size: 100px;
  font-weight: lighter;
  height: 130px;
  width: 200px;
  margin: 10px;
}

.logs_text {
  position: relative;
  display: flex;
  column-gap: 35px;
  height: 10%;
  align-items: center;
  font-size: 13px;
  font-weight: lighter;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
  left: 55%;
}

.logs {
  display: flex;
  margin: 0px 20px 0 20px;
  column-gap: 37%;
}

.config {
  display: flex;
  height: 25%;
  color: rgb(224, 223, 223);
  cursor: pointer;
  transition: 1s;
  position: relative;
  top: 13em;
  left: 60em;
  margin-left: 5px;
}
