<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/configs.css')}}">
  
</head>
<body>

<div class="sidenav">
  <a href="{{url_for('dashboard')}}">Dashboard </a>
  <a href="{{url_for('sensores')}}">Sensores</a>
  <a href="{{url_for('reles')}}">Tomadas </a>
  <a href="{{url_for('configs')}}">Configuraçoes </a>
  <a href="{{url_for('logout')}}"style="margin-top: 650px;"> Sair</a>
  
</div>
<main class ="main">
    <div class="configs">
      
        <div class ="sensor_container">
          <label>Name Sensor </label>
          <form class = "form_sensor" action="/executor_sensor_name" method="post">
            <label for="sensor1">S.Temp 01 </label>
            <input type="text" name="sensor1" id ="sensor1"placeholder="{{name_sensor_temp1}}">
            <label for="sensor2">S.Temp 02 </label>
            <input type="text" name="sensor2" id ="sensor2"placeholder="{{name_sensor_temp2}}">
            <label for="sensorhum">S.Humidade</label>
            <input type="text" name="sensorhum"id = "sensorhum"placeholder="{{name_sensor_hum}}">
            <button type="submit">Salvar </button>
          </form>
        
        </div>
        <div class=" tom_container">
          <label>Name Switch</label>
          <form class = "form_tom" action="/executor_rele_name" method="post" >
            <label for ="tomada1">Tomada 1</label>
            <input type="text" name="rele1" id="tomada1" placeholder="{{name_rele1}}">
            <label for ="tomada2">Tomada 2</label>
            <input type="text" name="rele2" id="tomada2"placeholder="{{name_rele2}}">
            <label for ="tomada3">Tomada 3</label>
            <input type="text" name="rele3" id="tomada3"placeholder="{{name_rele3}}">
            <label for ="tomada4">Tomada 4</label>
            <input type="text" name="rele4" id="tomada4"placeholder="{{name_rele4}}">
            <label for ="tomada5">Tomada 5</label>
            <input type="text" name="name" id="tomada5">
            <label for ="tomada6">Tomada 6</label>
            <input type="text" name="name" id="tomada6">        
            <label for ="tomada7">Tomada 7</label>
            <input type="text" name="name" id="tomada7">        
            <label for ="tomada8">Tomada 8</label>
            <input type="text" name="name" id="tomada8">
            <button type="submit">Salvar </button>
          </form>
        
        </div>
      
    


      </div>
      
      
      
    </div>
 

</main>

   
</body>
</html> 


