<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,450,0,0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/dashboard.css')}}"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/js/dashboard.js"></script>
  </head>
  <body>
    <div class="sidenav" id="sidenav">
      <ul id="sidenav_ul">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.png')}}" />
        </div>
        <li>
          <a href="{{url_for('dashboard')}}" id="dash"
            ><span class="material-symbols-outlined"> dashboard</span
            >Dashboard</a
          >
        </li>
        <li>
          <a href="{{url_for('sensores')}}"
            ><span class="material-symbols-outlined"> thermostat</span
            >Sensores</a
          >
        </li>
        <li>
          <a href="{{url_for('reles')}}"
            ><span class="material-symbols-outlined"> power </span>Tomadas</a
          >
        </li>
        <li>
          <a href="{{url_for('configs')}}"
            ><span class="material-symbols-outlined"> settings</span
            >Configuraçoes</a
          >
        </li>
        <li>
          <a href="{{url_for('logout')}}" style="position: relative; top: 15em"
            ><span class="material-symbols-outlined"> logout</span>Sair</a
          >
        </li>
      </ul>
    </div>
    <main class="main" id="main">
      <div class="sensors_name">
        <h3>{{sensorhum_name}}</h3>
        <h2>{{sensorhum}}%</h2>
        <p>05/08/2024 á 06/08/2024</p>
        <canvas id="Sensorhum" class="charts"></canvas>
      </div>
      <div class="sensors_name">
        <h3>{{sensor1_name}}</h3>
        <h2>{{sensor1}}º</h2>
        <p>05/08/2024 á 06/08/2024</p>
        <canvas id="Sensor1" class="charts"></canvas>
      </div>
      <div class="sensors_name">
        <h3>{{sensor2_name}}</h3>
        <h2>{{sensor2}}º</h2>
        <p>05/08/2024 á 06/08/2024</p>

        <canvas id="Sensor2" class="charts"></canvas>
      </div>
      <script>
        const sensor1_json = JSON.parse("{{ sensor1_json|tojson|safe}}");
        const sensor2_json = JSON.parse("{{ sensor2_json|tojson|safe}}");
        const sensorhum_json = JSON.parse("{{ sensorhum_json|tojson|safe}}");
      </script>
    </main>
  </body>
</html>
