<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css')}}"
    />
  </head>
  <body>
    <img src="{{ url_for('static', filename='images/Asset 4barra2.png')}}" />
    <div class="login-container">
      <form class="login-form" action="#" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <a class="cadastro" href="{{url_for('registrar')}}">Fazer cadastro</a>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
