<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,450,0,0" />

    <script src="static/js/reles/reles.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/reles.css')}}" />
  </head>
  <body>
    <div class="sidenav" id="sidenav">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png')}}" />
      </div>

      <ul id="sidenav_ul">
        <li>
          <a href="{{url_for('dashboard')}}" id="dash"><span
              class="material-symbols-outlined"> dashboard</span>Dashboard</a>
        </li>
        <li>
          <a href="{{url_for('sensores')}}"><span
              class="material-symbols-outlined"> thermostat</span>Sensores</a>
        </li>
        <li>
          <a href="{{url_for('reles')}}"><span
              class="material-symbols-outlined"> power </span>Tomadas</a>
        </li>
        <li>
          <a href="{{url_for('agendamentos')}}"><span
              class="material-symbols-outlined"> schedule</span>Agendamentos</a>
        </li>
        <li>
          <a href="{{url_for('configs')}}"><span
              class="material-symbols-outlined">
              settings</span>Configuraçoes</a>
        </li>
        <li>
          <a href="{{url_for('logout')}}"
            style="position: relative; top: 15em"><span
              class="material-symbols-outlined"> logout</span>Sair
          </a>
        </li>
      </ul>
    </div>
    <main class="main" id="main">
      <div class="reles_a">
        <div class="rele" id="rele1">
          <h2 class="nome_rele">{{name_rele1}}</h2>
          <a class="config" id="config1"><span class="material-symbols-outlined"
              id="config1">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data','disp')">Hora</button>
            <button onclick="btn_tela2('disp','data')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data" style="display: none">
              <form id="data_auto1" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele1}}qw"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value=""
                  name="status1"
                  class="hidden"
                  id="checkbox1" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade('data_auto1','checkbox1')" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="rele" id="rele2">
          <h2 class="nome_rele">{{name_rele2}}</h2>
          <a class="config" id="config2"><span class="material-symbols-outlined"
              id="config2">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data2','disp2')">Hora</button>
            <button onclick="btn_tela2('disp2','data2')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data2" style="display: none">
              <form id="data_auto2" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele2}}qw"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox2" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade('data_auto2','checkbox2')" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp2" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <input
                  type="text"
                  value="{{name_rele3}}qw"
                  name="autor2"
                  class="hidden"
                  id="autor2" />
                <label for="name_auto2">Nome da Rotina</label>
                <input type="text" name="name_auto2" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    disp1
                  </option>
                  <option value="sensor.sensor_dht11_temperature">disp2</option>
                  <option value="sensor.sensor_dht11_humidity">
                    sensorhum
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="reles_b">
        <div class="rele" id="rele3">
          <h2 class="nome_rele">{{name_rele3}}</h2>
          <a class="config" id="config3"><span class="material-symbols-outlined"
              id="config3">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data3','disp3')">Hora</button>
            <button onclick="btn_tela2('disp3','data3')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data3" style="display: none">
              <form id="data_auto3" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele3}}qw"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input type="text" name="status1"class="hidden"id="checkbox3" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade('data_auto3','checkbox3')" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp3" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="rele" id="rele4">
          <h2 class="nome_rele">{{name_rele4}}</h2>
          <a class="config" id="config4"><span class="material-symbols-outlined"
              id="config4">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data4','disp4')">Hora</button>
            <button onclick="btn_tela2('disp4','data4')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data4" style="display: none">
              <form id="data_auto4" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele4}}qw"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox4" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade('data_auto4','checkbox4')" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp4" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="reles_c">
        <div class="rele" id="rele5">
          <h2 class="nome_rele">{{name_rele1}}</h2>
          <a class="config" id="config5"><span class="material-symbols-outlined"
              id="config5">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data5','disp5')">Hora</button>
            <button onclick="btn_tela2('disp5','data5')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data5" style="display: none">
              <form id="data_auto" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele5}}"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox1" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade()" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp5" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="rele" id="rele6">
          <h2 class="nome_rele">{{name_rele1}}</h2>
          <a class="config" id="config6"><span class="material-symbols-outlined"
              id="config6">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data6','disp6')">Hora</button>
            <button onclick="btn_tela2('disp6','data6')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data6" style="display: none">
              <form id="data_auto" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele6}}"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox1" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade()" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp6" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="reles_d">
        <div class="rele" id="rele7">
          <h2 class="nome_rele">{{name_rele1}}</h2>
          <a class="config" id="config7"><span class="material-symbols-outlined"
              id="config7">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data7','disp7')">Hora</button>
            <button onclick="btn_tela2('disp7','data7')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data7" style="display: none">
              <form id="data_auto" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele7}}"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox1" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade()" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp7" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="rele" id="rele8">
          <h2 class="nome_rele">{{name_rele1}}</h2>
          <a class="config" id="config8"><span class="material-symbols-outlined"
              id="config8">
              settings</span></a>
          <div class="seletor_auto">
            <button onclick="btn_tela1('data8','disp8')">Hora</button>
            <button onclick="btn_tela2('disp8','data8')">Estado</button>
          </div>
          <div class="auto">
            <div class="data" id="data8" style="display: none">
              <form id="data_auto" action method="post" class="data">
                <input
                  type="text"
                  value="{{name_rele8}}"
                  name="teste"
                  class="hidden"
                  id="autor1" />
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id />
                <label for="hora_auto">Hora</label>
                <input type="time" name="hora_auto" class="hora_auto" />
                <input
                  type="text"
                  value
                  name="status1"
                  class="hidden"
                  id="checkbox1" />
                <label for="ligado_desligado">On<input
                    type="checkbox"
                    data-id="on"
                    name="status_on" /><input
                    type="checkbox"
                    data-id="off"
                    name="status_off" />Off</label>
                <button onclick="validade()" id="btn1" class="btn_reles">
                  Salvar
                </button>
              </form>
            </div>
            <div class="disp" id="disp8" style="display: none">
              <form action method="post" id="disp_auto" class="disp">
                <label for="name_auto">Nome da Rotina</label>
                <input type="text" name="name_auto" id class="name_auto" />
                <p>Selecione um Sensor</p>
                <select name="sensores" id="sensores">
                  <option value="sensor.sensor_ds18b20_temperature">
                    {{sensor1_name}}
                  </option>
                  <option value="sensor.sensor_dht11_temperature">
                    {{sensor2_name}}
                  </option>
                  <option value="sensor.sensor_dht11_humidity">
                    {{sensorhum_name}}
                  </option>
                </select>
                <p>
                  Ligar<input type="number" class="valor" /><input
                    type="number"
                    class="valor" />Desligar
                </p>
                <button class="btn_reles">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="static/js/reles/script.js"></script>
  </body>
</html>
