<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,450,0,0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/sensores.css')}}"
    />
    <script src="static/js/sensores.js"></script>
  </head>
  <body>
    <div class="sidenav" id="sidenav">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png')}}" />
      </div>
      <ul id="sidenav_ul">
        <li>
          <a href="{{url_for('dashboard')}}" id="dash"
            ><span class="material-symbols-outlined"> dashboard</span
            >Dashboard</a
          >
        </li>
        <li>
          <a href="{{url_for('sensores')}}"
            ><span class="material-symbols-outlined"> thermostat</span
            >Sensores</a
          >
        </li>
        <li>
          <a href="{{url_for('reles')}}"
            ><span class="material-symbols-outlined"> power </span>Tomadas</a
          >
        </li>
        <li>
          <a href="{{url_for('configs')}}"
            ><span class="material-symbols-outlined"> settings</span
            >Configuraçoes</a
          >
        </li>
        <li>
          <a href="{{url_for('logout')}}" style="position: relative; top: 15em"
            ><span class="material-symbols-outlined"> logout</span>Sair
          </a>
        </li>
      </ul>
    </div>
    <main class="main" id="main">
      <div class="sensores" id="sensores">
        <div class="sensor" name="sensor" id="sensor1">
          <h2 class="nome_sensor">{{name_sensor_temp1}}</h2>
          <h1>{{sensor1}}</h1>
          <div class="logs_text">
            <h3>Max {{sensor1_max}}</h3>
            <h3>Min {{sensor1_min}}</h3>
          </div>
          <a class="config" id="config1"
            ><span class="material-symbols-outlined"> settings</span></a
          >
        </div>
        <div class="sensor" id="sensor2">
          <h2 class="nome_sensor">{{name_sensor_temp2}}</h2>
          <h1>{{sensor2}}</h1>
          <div class="logs_text">
            <h3>Max {{sensor2_max}}</h3>
            <h3>Min {{sensor2_min}}</h3>
          </div>
          <a class="config" id="config2"
            ><span class="material-symbols-outlined"> settings</span></a
          >
        </div>
        <div class="sensor" id="sensor3">
          <h2 class="nome_sensor">{{name_sensor_hum}}</h2>
          <h1>{{sensorhum}}</h1>
          <div class="logs_text">
            <h3>Max {{hum_max}}</h3>
            <h3>Min {{hum_min}}</h3>
          </div>
          <a class="config" id="config3"
            ><span class="material-symbols-outlined"> settings</span></a
          >
        </div>
      </div>
    </main>
  </body>
</html>
