<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sensores.css')}}">

  </head>
  <body>

    <div class="sidenav">
      <a href="{{url_for('dashboard')}}">Dashboard </a>
      <a href="{{url_for('sensores')}}">Sensores</a>
      <a href="{{url_for('reles')}}">Tomadas</a>
      <a href="{{url_for('configs')}}">Configuraçoes </a>
      <a href="{{url_for('logout')}}"style="margin-top: 650px;"> Sair</a>
      
    </div>

    <div class="main">
      
      <div class ="sensores">
        <div class="sensor">
          <h2 class="nome_sensor">{{name_sensor_temp1}}</h2>
          <p class="status_sensor">{{status}}</p>
          <div class="logs_text">
            <h3>Max</h3>
            <h1>Atual</h1>
            <h3>Min</h3>
          </div>
          <div class="logs">
            <h3>{{sensor1_max}}</h3>
            <h1>{{sensor1}}</h1>
            <h3>{{sensor1_min}}</h3>
          </div>
        
        </div>
        <div class="sensor">
          <h2 class="nome_sensor">{{name_sensor_temp2}}</h2>
          <p class="status_sensor">{{status}}</p>
          <div class="logs_text">
            <h3>Max</h3>
            <h1>Atual</h1>
            <h3>Min</h3>
          </div>
          <div class="logs">
            <h3>{{sensor2_max}}</h3>
            <h1>{{sensor2}}</h1>
            <h3>{{sensor2_min}}</h3>
          </div>
        </div>
        <div class="sensor">
            <h2 class="nome_sensor">{{name_sensor_hum}}</h2>
            <p class="status_sensor">{{status}}</p>
            <div class="logs_text">
              <h3>Max</h3>
              <h1>Atual</h1>
              <h3>Min</h3>
            </div>
            <div class="logs">
              <h3>{{hum_max}}</h3>
              <h1>{{sensorhum}}.0</h1>
              <h3>{{hum_min}}</h3>
            </div> 
            <div>
              <form action="#" method="post">
                <input type="date" name="data">
                <button type="submit">teste</button>
              </form>
            </div>
        </div>

      </div> 
     
    </div>
    
  </body>
</html> 

